<div class="CoveoCategoryFacet" data-title="Category" data-field="@sfdcexpandedproducts" data-base-path="All"></div>
<%# /*<div class="CoveoFacet" data-title="Article Type" data-field="@objecttypelabel"></div>*/ %>
<div class="CoveoFacet" data-title="Content Type" data-field="@commoncontenttype" data-id="content-type-facet"></div>
<div class="CoveoFacet" data-title="Language" data-field="@commonlanguage"></div>

<div class="CoveoFacet" data-title="Youtube Channel" data-field="@ytchanneltitle" data-depends-on="content-type-facet"></div>
<div class="CoveoFacet" data-title="Youtube Category" data-field="@ytcategory" data-depends-on="content-type-facet"></div>