<?xml version="1.0" encoding="UTF-8"?>
<Package xmlns="http://soap.sforce.com/2006/04/metadata">
  <types>
    <name>AuraDefinitionBundle</name>
    <members>*</members>
  </types>
  <types>
    <name>ApexClass</name>
    <members>*</members>
  </types>
  <types>
    <name>ApexComponent</name>
    <members>*</members>
  </types>
  <types>
    <name>CustomLabels</name>
    <members>CustomLabels</members>
  </types>
  <types>
    <name>CustomLabel</name>
    <members>*</members>
  </types>
  <types>
    <name>CustomObject</name>
    <members>*</members>
  </types>
  <types>
    <name>CustomField</name>
    <members>*</members>
  </types>
  <types>
    <name>StaticResource</name>
    <members><%= customerSafeName %>_bundle_assets</members>
  </types>
  <version>45.0</version>
  <fullName><%= capitalizeCustomerSafeName %>CoveoPackage</fullName>
</Package>