
<div class="coveo-result-frame">
  <div class="coveo-result-cell" style="vertical-align: top;">
    <div class="coveo-result-row" style="margin-top:0;">
      <div class="coveo-result-cell" style="vertical-align:top;margin-bottom: 10px;">
        <a class="CoveoSalesforceCommunityResultLink"></a>
        <span class="CoveoSalesforceQuickview"></span>
      </div>
    </div>
    <div class="coveo-result-row">
      <div class="coveo-result-cell">
        <span class="CoveoExcerpt"></span>
      </div>
    </div>
    <div class="coveo-result-row">
      <div class="coveo-result-cell">
        <a class="CoveoSalesforceCommunityResultLink custom-printable-uri" data-use-as-printable="true"></a>
      </div>
    </div>
    <div class="coveo-result-row">
      <div class="coveo-result-cell">
        <span class="CoveoFieldValue" data-field="@sfarticletotalviewcount" data-text-caption="Views"></span>
        <span class="dotSymbol"></span>
        <span class="CoveoFieldValue" data-field="@date" data-text-caption="Updated on" data-helper="date" data-helper-options="{useLongDateFormat: 'true'}"></span>
        <span class="dotSymbol"></span>
        <span class="CoveoFieldValue" data-field="@objecttypelabel" data-text-caption="Article" data-facet="none"></span>
      </div>
    </div>
    <!--
    <%# 
    <div class="coveo-result-row" style="margin-top:10px;font-size:12px">
      <div class="coveo-result-cell">
        <div class="CoveoResultFolding" data-result-template-id="kb_attachment" data-one-result-caption="DisplayingTheOnlyAttachment"></div>
      </div>
    %>
    </div>-->
  </div>
</div>