<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell">
      <a class="CoveoResultLink" style="font-size:12px"></a>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell">
      <span class="CoveoExcerpt" style="font-size:12px;line-height:normal"></span>
    </div>
  </div>
</div>