<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:220px; padding-top:7px">
      <span class="CoveoYouTubeThumbnail">
      </span>
    </div>
    <div class="coveo-result-cell">
      <div class="coveo-result-row">
        <div class="coveo-result-cell">
          <a class="CoveoResultLink"></a>
        </div>
      </div>
      <div class="coveo-result-row" style="margin-top:10px;">
        <div class="coveo-result-cell">
          <span class="CoveoExcerpt"></span>
        </div>
      </div>
      <div class="coveo-result-row" style="margin-top:10px;">
        <div class="coveo-result-cell">
          <span class="CoveoFieldValue" data-field="@author" data-text-caption="Author"></span>
          <span class="dotSymbol"></span>
          <span class="CoveoFieldValue" data-field="@ytvideoduration" data-helper="timeSpan" data-helper-options-is-milliseconds="false" data-text-caption="Length"></span>
          <span class="dotSymbol"></span>
          <span class="CoveoFieldValue" data-field="@ytviewcount" data-text-caption="Views"></span>
          <span class="dotSymbol"></span>
          <span class="CoveoFieldValue" data-field="@date" data-text-caption="Updated on" data-helper="date" data-helper-options="{useLongDateFormat: 'true'}"></span>
        </div>
      </div>
    </div>
  </div>
</div>