<div data-aura-rendered-by="248:2;a" class="CoveoV2SearchUI CoveoV2CommunitySearchBox cVLC_Coveo_CommunitySearchBox"
  data-aura-class="CoveoV2SearchUI CoveoV2CommunitySearchBox cVLC_Coveo_CommunitySearchBox">
</div>
<div data-aura-rendered-by="524:0" class="CoveoV2SearchUI CoveoV2CommunitySearchBox"
  data-aura-class="CoveoV2SearchUI CoveoV2CommunitySearchBox">
  <div id="standaloneSearchbox" class="CoveoSearchInterface">
    <div class="CoveoStandaloneSearchbox magic-box magic-box-inline" type="text">
      <div class="CoveoSearchButton">
        <span class="coveo-icon"></span>
      </div>
      <div class="magic-box-input">
        <input type="text"></input>
      </div>
    </div>
  </div>
</div>