<div class="CoveoDynamicFacetManager">
  <div class="CoveoDynamicFacet" data-title="Type" data-field="@objecttype" data-tab="All"></div>
  <div class="CoveoDynamicFacet" data-title="FileType" data-field="@filetype" data-tab="All"></div>
  <div class="CoveoDynamicFacet" data-title="Author" data-field="@author" data-tab="All"></div>
</div>