<div class="CoveoFacet" data-title="Type" data-field="@objecttype" data-tab="All"></div>
<div class="CoveoFacet" data-title="FileType" data-field="@filetype" data-tab="All"></div>
<div class="CoveoFacet" data-title="Author" data-field="@author" data-tab="All"></div>
<div class="CoveoFacet" data-title="Year" data-field="@year" data-tab="All"></div>
<div class="CoveoFacet" data-title="Month" data-field="@month" data-tab="All"></div>