<div class="slds-form-element__control slds-align_absolute-center">
<div class="slds-visual-picker slds-visual-picker_vertical" onclick="redirectToPage('<%%-url%>')">
    <input type="radio" id="visual-picker-<%%-page%>" name="options" value="visual-picker-<%%-page%>" />
    <label for="visual-picker-<%%-page%>">
    <span class="slds-visual-picker__figure slds-visual-picker__text slds-align_absolute-center">
        <span>
        <span class="slds-text-heading_medium slds-m-bottom_x-small" style="text-transform: capitalize"><%%- title %> </span>
        </span>
    </span>
    <span class="slds-icon_container slds-visual-picker__text-check">
        <svg class="slds-icon slds-icon-text-check slds-icon_x-small" aria-hidden="true">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
        </svg>
    </span>
    </label>
</div>
</div>